.mainD {
  background-color: #282a39;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #fff;
}
.descriptionTitle {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 150px;
  font-size: 20px;
}
.descriptionHead {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.descriptionHead p {
  color: #fff;
}
.name {
  color: rgb(21, 163, 163);
}
.strong {
  color: rgb(21, 163, 163);
}
.descriptionSkills {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(21, 163, 163);
    margin-top: 50px;
    font-size: 15px;
  }